.productoDetalleCard {
    width: 100%;
    max-width: 80rem;
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.detalleInfo {
    display: grid;
    gap: 1rem;
    height: 100%;
}

.imgDetalle {
    width: 100%;
}

.h1Detalle {
    align-self: flex-start;
}

.precioDetalle{
    align-self: flex-end;
}