* {
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: #f6f6f4;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 24px;
    letter-spacing: 2px;
}

header {
    width: 100%;
    background-color: #ebe9ea;
    display: grid;
    justify-items: center;
}

footer {
    width: 100%;
    background-color: #ebe9ea;
    padding: 2rem;
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 1.5rem 2rem;
}

.cuerpo {
    width: 100%;
    display: grid;
    justify-items: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
}

.paginaError {
    text-align: center;
    margin: 30% 0 35% 0;
    display: grid;
    gap: 1rem;
}

.textoError {
    color: #caadb9;
}

.CheckoutBoton {
    padding: .3rem .7rem;
    background-color: #caadb9;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
}

.CheckoutBoton:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
}

.LimpiarCarrito {
    padding: .3rem .7rem;
    background-color: #ebe9ea;
    font-size: .8rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.LimpiarCarrito:hover{
    background-color: #e4dee2;
}