/* 

.checkoutItemList {
    width: 100%;
    max-width: 80rem;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.ListaCheckout {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.checkoutItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    padding: 1rem;
}

*/

.botonFinalizar {
    padding: .3rem .7rem;
    font-size: 1rem;
    background-color: #caadb9;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.botonFinalizar:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
}

.botonFinalizar:disabled {
    background-color: #cbcbcb;
    cursor: not-allowed;
    border-radius: 5px;
    transform: none;
    box-shadow: none;
}

.checkoutItemList {
    width: 100%;
    max-width: 80rem;
    display: grid;
    align-items: center;
    gap: 1rem;
}

.ListaCheckout {
    width: 100%;
    display: grid;
    gap: 1rem;
}

.checkoutItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
}

.imgCheckout {
    height: 70px;
}